<nav class="header-block navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">ГЛАВНАЯ</a>
        </li><li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/shops">МАГАЗИНЫ</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="/news">НОВОСТИ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">ПРОФАЙЛ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/articles">СТАТЬИ</a>
        </li><li class="nav-item">
        <a class="nav-link" href="/admin">АДМИН</a>
      </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/category" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            КАТЕГОРИИ
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/category/furniture">Мебель</a></li>
            <li><a class="dropdown-item" href="/category/electronics">Электроника</a></li>
            <li><a class="dropdown-item" href="/category/sport">Спорт</a></li>
            <li><a class="dropdown-item" href="/category/health_and_beauty">Красота и здоровье</a></li>
            <li><a class="dropdown-item" href="/category/car_goods">Автотовары</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart">КОРЗИНА</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
