<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1"
    />
    <title>Node js Handlebars</title>
</head>
<body>
<header>
    <ul>
        <li class="header-item"><a href="/">main</a></li>
        <li class="header-item"><a href="/cars">cars</a></li>
        <li class="header-item"><a href="/news">news</a></li>
        <li class="header-item"><a href="/profile">profile</a></li>
        <li class="header-item"><a href="/category/furniture">furniture</a></li>
        <li class="header-item"><a href="/category/electronics">electronics</a></li>
    </ul>
</header>
{{{body}}}
</body>
</html>