<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
</head>
<body>
<div class="header-block">
    <ul>
        <li class="header-item"><a href="/" class="menu-item color-text">ГЛАВНАЯ</a></li>
        <li class="header-item"><a href="/news" class="menu-item">НОВОСТИ</a></li>
        <li class="header-item"><a href="/articles" class="menu-item">СТАТЬИ</a></li>
        <li class="header-item"><a href="/profile" class="menu-item">ПРОФАЙЛ</a></li>
        <li class="header-item"><a href="/admin" class="menu-item">АДМИН</a></li>
        <li class="header-item"><a href="/category" class="menu-item">КАТЕГОРИИ</a>
            <ul>
                <li class="menu-item-category"><a href="/category/furniture">Мебель</a></li>
                <li class="menu-item-category"><a href="/category/electronics">Электроника</a></li>
                <li class="menu-item-category"><a href="/category/sport">Спорт</a></li>
                <li class="menu-item-category"><a href="/category/health_and_beauty">Красота и здоровье</a></li>
                <li class="menu-item-category"><a href="/category/car_goods">Автотовары</a></li>
            </ul>
        </li>
    </ul>
</div>

{{{body}}}

</body>
</html>