<div class="container p-4">
      <div>
        <a href="/home" class="main">Главная</a>
        <span class="main"> -> Статьи</span>
    </div>

    <h1>{{{title}}}</h1>

    {{#if articles}}
        <ul>
            {{#each articles}}
              {{> articles-card }}
            {{/each}}
        </ul>
    {{/if}}


    <nav class="mt-4">
      <ul class="pagination pagination-sm">
        {{#each pages}}
          <li class="page-item">
            <a class="page-link" href="/articles?page={{this}}"> {{this}} </a>
          </li>
        {{/each}}
      </ul>
    </nav>

</div>
