<div class="container cart p-4">
  <div>
      <a href="/" class="main">Главная</a>
      <span class="main"> -> Корзина</span>
  </div>

  <h1 class="mb-4">Корзина</h1>


  <div class="cart-item p-3 mb-4 row">
    <div class="col-6">
      <span class="furniture_title">potato</span>
      <p class="furniture_description">tasty</p>
      <p class="furniture_img">
        <img src="http://rus.lang-study.com/wp-content/uploads/kartofel-300x265.jpg">
      </p>
    </div>
    <div class="col-6">
      <div class="d-flex align-items-center justify-content-end">
        <span>2</span>
        <button class="cart-btn d-flex justify-content-center align-items-center ms-3">+</button>
        <button class="cart-btn d-flex justify-content-center align-items-center">-</button>
        <button class="cart-btn-delete ms-5">delete</button>
      </div>
    </div>
  </div>
</div>
