<div class="container cart p-4">
  <div>
      <a href="/" class="main">Главная</a>
      <span class="main"> -> Корзина</span>
  </div>

  <h1 class="mb-4">Корзина</h1>


  <div class="row">
    <div class="col-8">
      <div class="card cart-item mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="http://rus.lang-study.com/wp-content/uploads/kartofel-300x265.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Potato</h5>
              <p class="card-text">tasty</p>
              <div class="d-flex align-items-center">
                <span>2</span>
                <button class="cart-btn btn btn-light d-flex justify-content-center align-items-center ms-3 me-1">+</button>
                <button class="cart-btn btn btn-light d-flex justify-content-center align-items-center">-</button>
                <button class="cart-btn-delete btn btn-outline-dark btn-sm ms-5">delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card cart-item mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="http://rus.lang-study.com/wp-content/uploads/kartofel-300x265.jpg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Potato</h5>
              <p class="card-text">tasty</p>
              <div class="d-flex align-items-center">
                <span>2</span>
                <button class="cart-btn btn btn-light d-flex justify-content-center align-items-center ms-3 me-1">+</button>
                <button class="cart-btn btn btn-light d-flex justify-content-center align-items-center">-</button>
                <button class="cart-btn-delete btn btn-outline-dark btn-sm ms-5">delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
