<div>
    <a href="/" class="main">Главная</a>
    <span> -> Категории</span>
</div>

<h1>{{{title}}}</h1>

        <div class="name_category">
            <a href="http://localhost:3000/category/furniture">
            <span class="title">МЕБЕЛЬ</span>
            </a>
        </div>
        <div class="name_category">
            <a href="http://localhost:3000/category/electronics">
            <span class="title">ЭЛЕКТРОНИКА</span>
            </a>
        </div>
        <div class="name_category">
            <a href="http://localhost:3000/category/health_and_beauty">
            <span class="title">КРАСОТА И ЗДОРОВЬЕ</span>
            </a>
        </div>
        <div class="name_category">
            <a href="http://localhost:3000/category/car_goods">
            <span class="title">АВТОТОВАРЫ</span>
            </a>
        </div>
        <div class="image-block">
            <a href="http://localhost:3000/category/furniture">
                <img src="https://mebelone.by/sites/default/files/common/sl1.png" alt="photo 1" width="350" height="350">
            </a>
            <a href="http://localhost:3000/category/electronics">
            <img src="https://www.prom-tex.org/upload/iblock/281/2813839da6d5659d4ac11a2a484561f6.jpg" alt="photo 2"
                width="350" height="350">
        </a>
        <a href="http://localhost:3000/category/health_and_beauty">
            <img src="https://yelp.su/sites/default/files/styles/large/public/krasota_i_zdorove_sankt-peterburg.jpg?
                itok=CmkHHxVv" alt="photo 3" width="350" height="350">
        </a>
        <a href="http://localhost:3000/category/car_goods">
            <img src="https://e-pepper.ru/upload/iblock/0c8/0c8f4a32399dad3a36b2f1a2ffc5b252.jpg" alt="photo 4"
                width="350" height="350">
        </a>
        </div>
        <div>
        <div class="name_category">
            <a href="http://localhost:3000/category/sport">
            <span class="title">СПОРТ</span>
            </a>
        <a href="http://localhost:3000/category/sport">
            <img src="https://avatars.mds.yandex.net/get-altay/1633254/2a00000166c50d225dad8fd5389b484ff7aa/XXL"
                alt="photo 5" width="350" height="350">
        </a>
        </div>



