<div class="container p-4">
  <div class="mb-4">
    <a href="/" class="main">Главная</a>
    <span> -> Категории</span>
  </div>

  <h1>{{{title}}}</h1>

  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card mb-4">
        <img src="https://mebelone.by/sites/default/files/common/sl1.png" class="card-img-top category-img" alt="">
        <div class="card-body">
          <a href="/categories/furniture"><h5 class="card-title">МЕБЕЛЬ</h5></a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card mb-4">
        <img src="https://www.prom-tex.org/upload/iblock/281/2813839da6d5659d4ac11a2a484561f6.jpg" class="card-img-top category-img" alt="">
        <div class="card-body">
          <a href="/categories/electronics"><h5 class="card-title">ЭЛЕКТРОНИКА</h5></a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card mb-4">
        <img src="https://yelp.su/sites/default/files/styles/large/public/krasota_i_zdorove_sankt-peterburg.jpg?itok=CmkHHxVv" class="card-img-top category-img" alt="">
        <div class="card-body">
          <a href="/categories/health_and_beauty"><h5 class="card-title">КРАСОТА И ЗДОРОВЬЕ</h5></a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card mb-4">
        <img src="https://e-pepper.ru/upload/iblock/0c8/0c8f4a32399dad3a36b2f1a2ffc5b252.jpg" class="card-img-top category-img" alt="">
        <div class="card-body">
          <a href="/categories/car_goods"><h5 class="card-title">АВТОТОВАРЫ</h5></a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card mb-4">
        <img src="https://avatars.mds.yandex.net/get-altay/1633254/2a00000166c50d225dad8fd5389b484ff7aa/XXL" class="card-img-top category-img" alt="">
        <div class="card-body">
          <a href="/categories/sport"><h5 class="card-title">СПОРТ</h5></a>
        </div>
      </div>
    </div>
  </div>

</div>

