<form id="regForm" method="POST" action="/login" class="login-form">
    <h1 class="mb-3">Login</h1>
    <div class="mb-3">
      <input type="email" placeholder="E-mail" name="email">
    </div>
    <div class="mb-3">
      <input type="password" placeholder="Password" name="password">
    </div>
    <div class="d-flex justify-content-end">
      <button id="prevBtn" class="login-form__btn">Login</button>
    </div>
</form>

<!--<script>-->
<!--    let telRe = /\+37529[0-9+]{7}/;-->
<!--    let emailRe = /^[\w-\.]+@[\w-]+\.[a-z]{2,4}$/i;-->

<!--    function checkForm(){-->
<!--        let errorPhoneMessage = "";-->
<!--        let errorEmailMessage = "";-->
<!--        let okMessage = "ok";-->
<!--        let form = document.getElementById('regForm')-->
<!--        let telValue = form.phone.value;-->
<!--        let emailValue = form.email.value;-->
<!--        if ( ! telRe.test(telValue)){-->
<!--            errorPhoneMessage = "Error: wrong phone";-->
<!--        }-->
<!--        if ( ! emailRe.test(emailValue)){-->
<!--            errorEmailMessage = "Error: wrong email";-->
<!--        }-->
<!--        if (errorEmailMessage){-->
<!--            alert(errorEmailMessage);-->
<!--        } else if (errorPhoneMessage){-->
<!--            alert(errorPhoneMessage);-->
<!--        } else {-->
<!--            alert(okMessage);-->
<!--        }-->
<!--    }-->
<!--</script>-->
