<div class="container p-4">
  <div>
      <a href="/" class="main">Главная</a>
      <span class="main"> -> Магазины</span>
  </div>

  <h1 class="mb-4">{{{title}}}</h1>

  {{#if shops}}
      <div class="row">
          {{#each shops}}
            <div class="col-12 col-md-4">
              {{> shops-card }}
            </div>
          {{/each}}
      </div>
  {{/if}}

  <div>
      {{#each pages}}
          <a href="/shops?page={{this}}"> {{this}}</a>
      {{/each}}
  </div>
</div>
