* a {
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}
:root {
    --main-color: yellow;
}
.header-item {
    list-style-type: none;
    display: inline;
}
.header-block {
    background: green;
    padding: 20px;
    text-align: right;
}
.menu-item {
    color: black;
    margin: 0 15px 0 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.menu-item:hover {
    background-color: var(--main-color);
}
.menu-item-category > ul > li:hover a {
    color: green;

}
ul {
    display: inline;
    margin: 0;
    padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background: yellow;}
ul li:hover ul {display: block;}
ul li ul {
    text-align: center;
    position: absolute;
    margin-left: 1281px;
    width: 118px;
    /*display: none;*/
}
ul li ul li {
    background: green;
    display: block;
}
ul li ul li:hover {
    background: yellow;
}
.news_title {
    margin: 20px 20px 0;
    font-size: 30px;
}
.news_description {
    margin: 10px;
    font-size: 20px;
}

.div.image-block > a > img {
    width: 25%;
}

.name_category {
    width: 24%;
    text-align: center;
    display: inline-block;
}
.title {
    font-size: 15px;
    display: block;
}
.furniture_title {
    margin: 10px;
    font-size: 20px;
    background: yellow;
}
.furniture_description {
    margin: 5px 10px;
}
.furniture_img {
    margin: 5px 10px;
}

#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}
h1 {
    text-align: center;
}
input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}
input.invalid {
    background-color: #ffdddd;
}
.tab {
    display: none;
}
#prevBtn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
}
.admin__news_title {
    display: block;
    padding: 10px;
    margin: 5px;
    width: 70px;
    cursor: pointer;
    background-color: lightgreen;
}
.admin__articles_title {
    display: block;
    padding: 10px;
    margin: 5px;
    width: 70px;
    cursor: pointer;
    background-color: lightgreen;
}
.admin__category_title {
    display: block;
    padding: 10px;
    margin: 5px;
    width: 150px;
    cursor: pointer;
    background-color: lightgreen;
}
.delete_button {
    display: block;
    background-color: red;
    color: white;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
}

/*зайди на сервак*/
/*и потом список комманд*/
/*cd /home/node/learning_node (вроде такой там путь, проверь)*/
/*git pull origin master*/
/*npm ci (если обновляла\добавляла пакеты)*/
/*pm2 reload index*/
