* a {
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
}
:root {
    --main-color: yellow;
}
.header-item {
    list-style-type: none;
    display: inline;
}
.header-block {
    background-color: green;
    padding: 20px;
    text-align: right;
}
ul {
    display: inline;
    margin: 0;
    padding: 0;
}
ul li:hover {background: yellow;}
ul li ul li:hover {
    background: yellow;
}
.news_title {
    margin: 20px 20px 0;
    font-size: 30px;
}
.news_description {
    margin: 10px;
    font-size: 20px;
}

.div.image-block > a > img {
    width: 25%;
}

.name_category {
    width: 24%;
    text-align: center;
    display: inline-block;
}
.title {
    font-size: 15px;
    display: block;
}
.furniture_title {
    margin: 10px;
    font-size: 20px;
    background: yellow;
}
.furniture_description {
    margin: 5px 10px;
}
.furniture_img {
    margin: 5px 10px;
}

.furniture_img img {
    object-fit: contain;
}

.login-form {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: Raleway;
    max-width: 300px;
}
h1 {
    text-align: center;
}
input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}
input.invalid {
    background-color: #ffdddd;
}
.tab {
    display: none;
}
.login-form__btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
}

.cart-item {
    -webkit-box-shadow: 2px 5px 13px 0px rgba(66, 68, 90, 0.32);
    -moz-box-shadow: 2px 5px 13px 0px rgba(66, 68, 90, 0.32);
    box-shadow: 2px 5px 13px 0px rgba(66, 68, 90, 0.32);
    max-width: 600px;
    border: unset !important;
}

.cart-btn {
    height: 30px;
    width: 30px;
}
