<form action="/admin/shops/add" method="POST" enctype="multipart/form-data">
    <input type="text" name="title">
<!--    <input type="text" name="image_url">-->
    <textarea name="description" id="" cols="30" rows="10"></textarea>

    <input type="file" name="image">

    <button>add</button>
</form>
