<div class="container p-4">
  <div>
      <a href="/" class="main">Главная</a>
      -> <a href="/vacancies">Вакансии</a>
      <span> -> {{{vacancies.title}}}</span>
  </div>

  <h1>{{{vacancies.title}}}</h1>

  <div>
      <h3>{{vacancies.title}}</h3>
      <div>{{vacancies.city}}</div>
  </div>
</div>
