<form action="/admin/news/add" enctype="multipart/form-data" method="POST">
    <input type="text" name="title">
    <input type="text" name="image_url">
    <textarea name="description" id="" cols="30" rows="10"></textarea>
<button>add</button>

</form>